
<%= form_for @post do |f| %>
	<% if @post.errors.any? %>
		<span><%= pluralize(@post.errors.count, "error") %> prevented this post from saving</span>
		<ul>
			<% @post.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>
<p>
	<%= f.text_field :title, :placeholder => 'TITLE' %>
</p>
<p>
	<%= f.text_area :body, :placeholder => 'WRITE SOMETHING' %>
</p>
<%= f.submit %>
<% end %>
</div>